@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
    }
    h2 {
        font-family: "Archivo", sans-serif;
    }

    p {
        font-family: "Archivo", sans-serif;
        font-weight: 500;
    }
    a{
        font-family: "Archivo", sans-serif;
        font-weight: 500;
    }
}

.golos {
    font-family: "Golos", sans-serif;
}
/* .archivo {
    font-family: "Archivo", sans-serif;
    font-weight: 500;
}

.roboto {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
} */

.navbar-inner {
    background:transparent;
}

.about {
    background-color: #253432;
    padding: 92px 0;
}

.services {
    padding: 92px 0;
}
.services a {
    text-decoration: none;
    color: #DEE2E6;
}
.accordion-body{
    padding-bottom: 16px 0;
}

.contact{
    padding: 92px 0;
}

.button {
    color: #dee2e6;
    background-color: #6A8C69;
    border: none;
    transition: background-color 0.5s;
}

.button:hover {
    color: #253432;
    background-color: #dee2e6;
}

.footer {
    background-color: #253432;
    padding: 92px 0;
    bottom: 0;
}

.thanks{
    p{
        size: 24px;
        font-weight: 600;
    }
}
#contact-form{
    min-height: 730px;
}

span {
    color: #09ff00;
    font-size: 12px;
}

.expertise{
    background-color: #253432;
}

.numbers{
    border-radius: 12px;
    padding-top: 20px;
}

.cards{
    min-height: 145px;
}
.author{
    text-transform: capitalize;
}