{% extends 'main/main.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<div class="container contact">
    <div class="row">
        <div class="col-md-6">
            <h1>Contact Us</h1>
            <div id="contact-form">
                <form>
                    {{ form|crispy }}
                    <button type="submit" class="btn golos rounded-pill" style="background-color: #6A8C69;"
                    hx-post="{% url 'post-lead' %}"
                    hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'
                    hx-target="#contact-form"
                    hx-swap="innerHTML"
                    hx-on:click="return gtagSendEvent('https://forward-velocity.com')">Submit</button>
                </form>
            </div>

        </div>
        <div class="col-md-6">
            <div class="swiper mySwiper swiper-img-scale h-100 swiper-fade swiper-initialized swiper-horizontal swiper-watch-progress swiper-backface-hidden" >

                <div class="swiper-wrapper" id="swiper-wrapper-0d9963dbb1582fb7" aria-live="off">
                    <!-- Slider item -->
                    <div class="swiper-slide" style="width: 1223px; opacity: 1;">
                        <div class="h-100 scale-img py-9" style="background-image:url(../static/main/assets/01.jpg); background-position: center left; background-size: cover;"></div>
                    </div>
                    <!-- Slider item -->
                    <div class="swiper-slide" style="width: 1223px; opacity: 1;">
                        <div class="h-100 scale-img py-9" style="background-image:url(../static/main/assets/02.jpg); background-position: center left; background-size: cover;"></div>
                    </div>
                    <!-- Slider item -->
                    <div class="swiper-slide" style="width: 1223px; opacity: 1;">
                        <div class="h-100 scale-img py-9" style="background-image:url(../static/main/assets/03.jpg); background-position: center left; background-size: cover;"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>
{% endblock content %}