<!DOCTYPE html>
{% load static %}
{% load crispy_forms_tags %}
<html lang="en" data-bs-theme="dark">
<head>
    <meta charset="UTF-8" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forward Velocity</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
	<link rel="canonical" href="https://www.forward-velocity.com/" />

	<meta name="description" content="Forward Velocity: Maryland-based software development firm specializing in custom web and app development, site hosting, AI, and brand identity for small businesses and game studios. Empower your business with modern, reliable tech solutions.">
	<script src="https://unpkg.com/htmx.org@2.0.1"></script>
	<link rel="icon" href="{% static 'main/assets/fv_logo.png' %}">

	  <!-- Essential Twitter Card tags -->
	  <meta name="twitter:card" content="summary_large_image"> 
	  <meta name="twitter:site" content="@made_kareem"> 
	
	  <!-- Content details -->
	  <meta name="twitter:title" content="{{ og_title|default:'Forward Velocity - Software Development Firm'}}">
	  <meta name="twitter:description" content="{{ og_desc|default:'Forward Velocity: Maryland-based firm offering custom web and app development, AI features, and brand identity for small businesses.'}}">
	  <meta name="twitter:image" content="{{ og_image|default:'static/main/assets/fv_logo.png' }}"> <!-- Link to an image that represents your brand -->

	<!-- Essential Open Graph tags -->
	<meta property="og:title" content="{{ og_title|default:'Forward Velocity - Software Development Firm' }}">
	<meta property="og:description" content="{{ og_desc|default:'Forward Velocity: Maryland-based firm offering custom web and app development, AI features, and brand identity for small businesses.' }}">
	<meta property="og:image" content="{{ og_image|default:'static/main/assets/fv_logo.png' }}">
	<meta property="og:url" content="{{ request.build_absolute_uri }}">
	<meta property="og:type" content="{{ og_type|default:'website' }}">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script id="applicationScript" type="text/javascript" src="{% static 'main/js/script.js' %}"></script>
	<!-- Tailwind CSS (Remove before Deploy) -->
	<!-- <script src="https://cdn.tailwindcss.com"></script>  -->
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">

	<!-- Google tag (gtag.js) -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=G-05RMLTQ8MB">
	</script>
	<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'G-05RMLTQ8MB');
	</script>

	<!-- Google tag (gtag.js) event - delayed navigation helper -->
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-16756458298"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-16756458298');
</script>  

<!-- Event snippet for Submit Lead conversion page
In your html page, add the snippet and call gtag_report_conversion when someone clicks on the chosen link or button. -->
<script>
	function gtag_report_conversion(url) {
	  var callback = function () {
		if (typeof(url) != 'undefined') {
		  window.location = url;
		}
	  };
	  gtag('event', 'conversion', {
		  'send_to': 'AW-16756458298/6K6CCPSR0OwZELqGjbY-',
		  'event_callback': callback
	  });
	  return false;
	}
	</script>
	

	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css"/>
	<script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>
<body>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.6/dist/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.2.1/dist/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="https://unpkg.com/htmx.org@1.9.12"></script>

		<!-- Logo Nav START -->
		<nav class="navbar navbar-expand-xl px-lg-5 fixed-top">
			<div class="container-fluid navbar-inner">
				<!-- Logo START -->
				<a class="navbar-brand me-5 golos" href="{% url 'index' %}">
					<img src="{% static 'main/assets/fv_logo.png' %}" alt="Forward Velocity" width="20" height="20" class="d-inline-block align-text-top">
					Forward Velocity
				</a>
				<!-- Logo END -->
	
				<!-- Main navbar START -->
				<div class="navbar-collapse collapse" id="navbarCollapse">
					<ul class="navbar-nav navbar-nav-scroll dropdown-hover">
						<!-- Nav item -->
						<li class="nav-item"> <a class="nav-link" href="{% url 'contact' %}">Contact us</a> </li>
						<li class="nav-item"> <a class="nav-link" href="{% url 'blog_list' %}">Blog</a> </li>
					</ul>
				</div>
				<!-- Main navbar END -->
	
				<!-- Buttons -->
				<ul class="nav align-items-center dropdown-hover ms-sm-2">
					<!-- Offcanvas cart menu -->
					<li class="nav-item position-relative ms-2 ms-sm-3 d-none d-sm-block">
						<a class="btn btn-dark mb-0 golos rounded-pill button" href="{% url 'contact' %}" data-toggle="modal" data-target="#info">Let's connect</a>
					</li>
	
					<!-- Responsive navbar toggler -->
					<li class="nav-item">
						<button class="navbar-toggler ms-3 p-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
							<span class="navbar-toggler-icon">
							</span>
						</button>
					</li>	
				</ul>
	
			</div>
		</nav>
		<!-- Logo Nav END -->
        {% block content %}


        {% endblock content %}

				 <!-- Info Modal -->
				 <div class="modal fade" id="info" tabindex="-1" role="dialog" aria-labelledby="infoLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div>
					  <div class="modal-content">
						<div class="modal-header">
						  <h5 class="modal-title" id="infoLabel">Tell us what you need!</h5>
						  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						  </button>
						</div>
						<div class="modal-body" id="modal-body">
							
							
							<div class="form-group">
							<form 
							class="info-form"
							hx-post="{% url 'post-lead' %}"
							hx-swap="innerHTML"
							hx-target="#modal-body"
							hx-on:click="return gtagSendEvent('https://forward-velocity.com/contact')">
								
									{% csrf_token %}
		
									{{ form|crispy }}
							<button type="submit" id="submit-button" class="btn rounded-pill button submit-button" name="submit">Submit</button>

							</form>
							</div>
						</div>

					  </div>
				</div>
					  </div>
					</div>
				  </div>
				  <script>
					var swiper = new Swiper(".mySwiper", {
					  spaceBetween: 30,
					  centeredSlides: true,
					  autoplay: {
						delay: 5500,
						disableOnInteraction: false,
					  },
					  pagination: {
						el: ".swiper-pagination",
						clickable: false,
					  },
					  navigation: {
						nextEl: ".swiper-button-next",
						prevEl: ".swiper-button-prev",
					  },
					});

					$('#submit-button').submit(function(e) {
					console.log('submitting form');
					e.preventDefault();
					// Coding
					$('#info').modal('hide'); //or  $('#IDModal').modal('hide');
					return false;
					});
				  </script>
		
		<!-- Footer -->
		 <section class="footer">
				<div class="container">
					<div class="row">
						<div class="col-lg-12">
							<div class="footer-content text-center archivo">
								{% if year %}
								<p class="mb-0">© {{year}} Forward Velocity. All rights reserved.</p>
								{% else %}
								<p class="mb-0">© 1995 Forward Velocity. All rights reserved.</p>
								{% endif %}
							</div>
						</div>
					</div>
				</div>
		 </section>
				

     <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>

     <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
 
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
 
</body>
</html>